<!doctype html>
<html class="h-full bg-[#0f1012]">

<!-- Header component -->
<%- include('./components/header') %>
<!-- End header -->
<%- include('./components/sidebar') %>
<body class="h-full" style="font-family: 'Space Grotesk'">
    <div>
        <!-- Sidebar component -->
        <!-- End sidebar -->
        <main id="content" class=" ">
            <% if (req.session.newaccount || req.session.password) { %>
            <div class="border border-green-400/10 bg-green-400/5 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-6 w-6 text-green-400">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm text-green-400 mt-0.5">
                            Your password is <code><%= req.session.password %></code>
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="pb-2 px-10 pt-8">
                <h2 class="text-base font-semibold leading-7 text-white">Account credentials</h2>
                <p class="mt-1 pb-4 text-sm leading-6 text-zinc-500">View the credentials for your account.</p>
            </div>
            <div class="pb-2 px-10 border-b border-white/5 center">
                <form action="/fuckyourmom" method="get">
                    <div class="grid grid-cols-1 gap-x-6 sm:grid-cols-6">
                        <div class="sm:col-span-3 mr-6">
                            <label for="id" class="block text-sm font-normal leading-6 text-zinc-400 mb-2 text-left ">Panel username: <span class="text-zinc-200"><%= pterodactyl.username %></span></label>
                            <label for="coins" class="mt-4 mb-5 block text-sm font-normal leading-6 text-zinc-400 mb-2 mt-4 text-xs"><a href="../regen" class="text-zinc-300 transition hover:text-white">Click here</a> to view your password.</label>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script>
      <% console.log(req.session , userinfo , pterodactyl) %>
    </div>
</body>

</html>
