<!doctype html>
<html class="h-full bg-[#0f1012]">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/tailwind.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   </head>
   <body class="h-full" style="font-family: 'Space Grotesk'">
      <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
         <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
            <div class="bg-zinc-600/10 px-6 py-12 border border-white/5 sm:px-12">
               <div>
                  <div class="relative">
                     <h2 class="text-center text-md font-medium leading-9 text-white">We do not support mobile devices yet.</h2>
                     <h2 class="text-center text-xs font-normal text-zinc-500">Please use desktop mode or come back on a PC.</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
