<!-- Skeleton loader -->
<div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8" id="skeleton-loader">
    <div role="status" class="animate-pulse mt-[10vh]">
      <div class="h-2.5 bg-[#131417] rounded-full max-w-[640px] mb-2.5 mx-auto"></div>
      <div class="h-2.5 mx-auto bg-[#131417] rounded-full max-w-[540px]"></div>
      <div class="flex items-center justify-center mt-4">
          <div class="w-24 h-2 bg-[#1f2023] rounded-full"></div>
      </div>
  </div>
</div>
<style>
  #skeleton-loader {
    display: none;
  }

  #skeleton-loader.active {
    display: block;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get references to the skeleton loader and content elements
    const skeletonLoader = document.getElementById("skeleton-loader");
    const content = document.getElementById("content");

    // Function to show the skeleton loader and hide the content
    function showSkeletonLoader() {
      skeletonLoader.classList.add("active");
      content.style.display = "none";
    }

    // Function to hide the skeleton loader and show the content
    function hideSkeletonLoader() {
      skeletonLoader.classList.remove("active");
      content.style.display = "block";
    }

    // Show the skeleton loader immediately (initial state)
    showSkeletonLoader();
    setTimeout(hideSkeletonLoader, 250);
  });
</script>
